{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/arrow-back.svg" width="24px" height="24px">
        </button>

        <button class="button">
            <img src="/img/avatar.png" width="24px" height="24px">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Мій блог</h1> --}}

    {{!-- <main class="post-list">
        <div class="post button">
            <div class="post-header">
                <div class="post-category-list">
                    <span class="post-category post-category-1">Важливо</span>
                    <span class="post-category post-category-2">Мова</span>
                </div>
                <span class="post-data">25.01</span>
            </div>
            <p class="post-info">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
        </div>
        <div class="post button post-viewed">
            <div class="post-header">
                <div class="post-category-list">
                    <span class="post-category post-category-1">Важливо</span>
                    <span class="post-category post-category-2">Мова</span>
                </div>
                <span class="post-data">15.01</span>
            </div>
            <p class="post-info">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак
                самопрезентацій.</p>
        </div>
        <div class="post button">
            <div class="post-header">
                <div class="post-category-list">
                    <span class="post-category post-category-1">Важливо</span>
                    <span class="post-category post-category-2">Мова</span>
                </div>
                <span class="post-data">25.01</span>
            </div>
            <p class="post-info">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс</p>
        </div>
    </main> --}}

</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}